body {
    text-align: center;
}

#header {
    display: flex;
    align-content: center;
    justify-content: center;

    
}

#scoring-panel {
    width: 505px;
    display: relative;

    display: flex;
    align-content: center;
    border: 1px solid #000;
    
}

#scoring-panel p {
    margin-right: 50px;
}

#scoring-panel p:first-child {
    margin-left: 10px;
}

canvas * {
    position: relative;
    margin-top: 0px;
}

/*
 * Styles for the Winning Screen
 */

 #endScreen {
    position:absolute;
    background:#fff;
    opacity:.9;
    left:0;
    right:0;
    top:0; 
    bottom:0;
    z-index:1;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btnPlay {
	background-color:#599bb3;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btnPlay:hover {
	background-color:#408c99;
}
.btnPlay:active {
	position:relative;
	top:1px;
}